.container {
  margin-top: 5.5rem;
}

.main {
  min-height: 100vh;
}

.userBlock {
  position: absolute;
  right: 10rem;
}

.userPhoto {
  display: inline-block;
}

.userInfo {
  padding: 0 0 0 1rem;
  display: inline-block;
}

.logo {
  width: 80px;
  height: 80px;
}

.titleBlock {
  padding: 0 10rem;
  width: 100%;
  height: 330px;
  padding-top: 14rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: start;
}

.titleImage {
  width: 430px;
  height: 330px;
}

.titleDesc {
  padding-top: 1rem;
  font-size: 22px;
  margin-right: 4rem;
}

.descTitle {
  font-size: 42px;
  padding-bottom: 1rem;
}

.descSubtitle {
  opacity: 0.8;
}

.descVideoTitle {
  font-size: 42px;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.descVideoSubtitle {
  opacity: 0.8;
  margin-left: 1rem;
}

.blockVideos {
  padding: 0 10rem;
  padding-top: 2rem;
}

.titleBlockVideos {
  background-color: whitesmoke;
  font-size: 42px;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  margin-top: 15.5rem;
}

.videoBlock {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.videoBlockSecond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
}

.videoBlockThird {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
}

.videoBlockFourth {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
}

.descVideo {
  font-size: 24px;
}

.subtitleVideo {
  font-weight: 600;
  padding-bottom: 15px;
}

.videoHr {
  padding: 0 10rem;
  margin-bottom: 15px;
}

.title {
  padding-left: 10rem;
}