.container {
  margin-top: 5.5rem;
}

.main {
  min-height: 100vh;
}

.userBlock {
  display: flex;
  position: absolute;
  right: 10rem;
}

.userInfo {
  color: #000000;
  font-size: 18px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.55;
  padding: 0 0 0 1rem;
}

.userPhoto {
  width: 80px;
  height: 80px;
}

.titleBlock {
  padding: 0 10rem;
  width: 100%;
  height: 330px;
  padding-top: 14rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.titleImage {
  width: 430px;
  height: 330px;
}

.titleDesc {
  padding-top: 1rem;
  font-size: 22px;
  margin-right: 4rem;
}

.descTitle {
  font-size: 42px;
  padding-bottom: 1rem;
}

.descSubtitle {
  opacity: 0.8;
}

.descVideoTitle {
  font-size: 42px;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.descVideoSubtitle {
  opacity: 0.8;
  margin-left: 1rem;
}

.blockVideos {
  padding: 0 10rem;
  padding-top: 2rem;
}

.titleBlockVideos {
  background-color: whitesmoke;
  font-size: 42px;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  margin-top: 15.5rem;
}

.videoBlock {
  width: 100%;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: row-reverse;
}

.videoBlockSecond {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.videoBlockThird {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.videoBlockFourth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.descVideo {
  font-size: 24px;
}

.subtitleVideo {
  font-weight: 600;
  padding-bottom: 15px;
}

.videoHr {
  padding: 0 10rem;
  margin-bottom: 15px;
}

.title {
  padding-left: 10rem;
}

@media (max-width: 1285px) {
  .titleBlock {
    padding: 0 2rem;
    padding-top: 14rem;
  }
  .blockVideos {
    padding: 0 2rem;
    padding-top: 2rem;
  }
  .title {
    padding-left: 5rem;
  }
  .userBlock {
    right: 5rem;
  }
}

@media (max-width: 1200px) {
  .container {
    margin-top: 1rem;
  }
  .descVideoTitle {
    font-size: 32px;
    word-wrap: break-word;
  }
  .descVideoSubtitle {
    font-size: 22px;
    word-wrap: break-word;
  }
  .userBlock {
    right: 2rem;
  }
}

@media (max-width: 1042px) {
  .titleImage {
    width: 227px;
    height: 178px;
  }
  .titleBlockVideos {
    margin-top: 6rem;
  }
}

@media (max-width: 960px) {
  .videoBlock {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
  }
  .videoBlockSecond {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
  }
  .videoBlockThird {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
  }
  .videoBlockFourth {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
  }

  .subtitleVideo {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .descVideoTitle {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .descVideoSubtitle {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .descTitle {
    font-size: 40px;
  }
  .descSubtitle {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .titleBlock {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .titleDesc {
    margin: 0;
  }
  .titleBlockVideos {
    width: 100%;
    text-align: center;
  }
  .title {
    padding: 0;
  }
}

@media (max-width: 652px) {
  .video {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .userBlock {
    right: 1rem;
    top: 1rem;
    left: 1rem;
  }
  .videoHr {
    padding: 0;
  }
}
