html,
body {
  padding: 0;
  margin: 0;
  font-family: "JournalSansNew", Arial, sans-serif;
}

a {
  color: white;
  vertical-align: baseline;  
	font-family: inherit;  
	font-style: inherit;  
	font-size: 100%;  
	border: none;  
	padding: 0;  
	margin: 0; 
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "JournalSansNew";
  src: url("/fonts/JournalSansNew.ttf") format('truetype');
}