.container {
  width: 100%;
  height: 70px;
  background: rgba(248, 249, 253, 1);
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 4rem;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
}

.main {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
}

.titles {
  display: inline-block;
}

.iconButton {
  margin-right: 5px;
  height: 32px;
  width: 32px;
  background-color: #302a42;
  color: rgba(248, 249, 253);
}

.iconButton:hover {
  background-color: #302a42;
  color: rgba(248, 249, 253);
}

.titles {
  display: inline-block;
  margin-left: 55px;
  font-size: 0;
}

.titles li {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  display: inline-block;
  padding: 0 15px;
  color: #302a42;
}

.headerLogo {
  max-width: 80px;
  display: inline-block;
  position: absolute;
  z-index: 10;
}

.logo {
  width: 80px;
  height: 80px;
}
