.container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("https://thumb.tildacdn.com/tild3262-3430-4364-b261-653135363663/-/format/webp/2019_ELENA_IS_chair_.jpg");
  background-position: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  width: 360px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #302a42;
  font-size: 18px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 700;
}

.buttonSingUp {
  color: #fff;
  background-color: #302a42;
  font-weight: 600;
  font-size: 18px;
  width: 300px;
  height: 50px;
  text-transform: capitalize;
}

.buttonSingUp:hover {
  background-color: #302a42;
}

.buttonForgot {
  color: #302a42;
  font-size: 14px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  text-transform: capitalize;
}

.passInput {
  width: 300px;
  height: 55px;
  background-color: #f8f9fd;
  font-size: 16px;
  font-weight: 300;
}

.emailInput {
  width: 300px;
  height: 55px;
  background-color: #f8f9fd;
  font-size: 16px;
  font-weight: 300;
}

.logo {
  width: 78px;
  height: 78px;
}
