.container {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)),
    url("https://thumb.tildacdn.com/tild3262-3430-4364-b261-653135363663/-/format/webp/2019_ELENA_IS_chair_.jpg");
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  width: 360px;
  height: 309px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemBlock {
  margin: 18px 0;
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: #302a42;
}

.buttonSingUp {
  width: 300px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  background-color: #302a42;
}

.buttonSingUp:hover {
  background-color: #302a42;
}

.buttonForgot {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #302a42;
}

.passInput {
  width: 300px;
  height: 50px;
}

.emailInput {
  width: 300px;
  height: 50px;
}
