.main {
  min-height: 100vh;
  padding: 0 12rem;
}

.userBlock {
  margin-top: 11px;
  justify-content: flex-end;
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.userPhotoBlock {
  width: 75px;
  height: 75px;
  border-radius: 3000px;
  background-color: #dbdbdb;
}

.userPhoto {
  margin-left: 12px;
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.userInfo {
  color: #000000;
  font-size: 18px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.55;
  padding: 0 0 0 1rem;
}

.courseTitle {
  font-size: 32px;
  padding-top: 45px;
  padding-bottom: 14px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.photoCourse {
  margin-top: 51px;
  width: 280px;
  height: 268px;
}

.course {
  display: flex;
  width: 100%;
  margin-bottom: 51px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.descCourse {
  display: inline-block;
  margin-left: 19px;
}

.descTitle {
  color: #302a42;
  font-size: 26px;
  margin-top: 50px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1;
  font-weight: 600;
}

.descSubtitle {
  color: #302a42;
  font-size: 18px;
  margin-top: 13px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
}

.desc {
  color: #302a42;
  font-size: 18px;
  margin-top: 18px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}

.buttonLearn {
  margin-left: 119px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 46px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  border-width: 2px;
  border-radius: 5px;
  background-color: #00b358;
  width: 200px;
  height: 50px;
}

.subtitle {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 45px 0;
  font-size: 18px;
  opacity: 0.7;
  line-height: 1.35;
  font-family: "JournalSansNew", Arial, sans-serif;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .userBlock {
    max-width: 960px;
  }
  .course {
    max-width: 960px;
  }
  .courseTitle {
    max-width: 960px;
  }
  .subtitle {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 0 10rem;
  }
  .userBlock {
    right: 10rem;
  }
}

@media (max-width: 960px) {
  .userBlock {
    max-width: 640px;
  }
  .course {
    max-width: 640px;
  }
  .courseTitle {
    max-width: 640px;
  }
  .subtitle {
    max-width: 640px;
  }
}

@media (max-width: 874px) {
  .main {
    padding: 0 5rem;
  }
}

@media (max-width: 700px) {
  .userBlock {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .main {
    padding: 0 2rem;
  }
}

@media (max-width: 640px) {
  .courseTitle {
    width: 100%;
  }
  .photoCourse {
    width: 225px;
    height: 216px;
    margin-top: 20px;
  }
  .course {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
  .descCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonLearn {
    display: none;
  }
}

@media (max-width: 550px) {
  .subtitle {
    width: 100%;
  }
  .userPhoto {
    width: 32px;
    margin-left: 8px;
    margin-top: 8px;
    height: 32px;
  }
  .userPhotoBlock {
    width: 48px;
    height: 48px;
  }
  .userInfo {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .userInfo {
    font-size: 14px;
  }
}


