.main {
  min-height: 100vh;
  padding: 0 12rem;
}

.userBlock {
  margin-top: 11px;
  position: absolute;
  right: 15rem;
  display: flex;
}

.userPhoto {
  width: 80px;
  height: 80px;
}

.userInfo {
  color: #000000;
  font-size: 18px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.55;
  padding: 0 0 0 1rem;
}

.courseTitle {
  font-size: 32px;
  padding-top: 150px;
  padding-bottom: 14px;
}

.photoCourse {
  margin-top: 51px;
  width: 280px;
  height: 268px;
}

.course {
  display: flex;
  width: 100%;
  margin-bottom: 51px;
}

.descCourse {
  display: inline-block;
}

.descTitle {
  color: #302a42;
  font-size: 26px;
  margin-top: 50px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1;
  font-weight: 600;
}

.descSubtitle {
  color: #302a42;
  font-size: 18px;
  margin-top: 13px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
}

.desc {
  color: #302a42;
  font-size: 18px;
  margin-top: 18px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}

.buttonLearn {
  margin-left: 119px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 46px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  border-width: 2px;
  border-radius: 5px;
  background-color: #00b358;
  width: 200px;
  height: 50px;
}

.subtitle {
  width: 500px;
  padding: 45px 0;
  font-size: 18px;
  opacity: 0.7;
  line-height: 1.35;
  font-family: "JournalSansNew", Arial, sans-serif;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .main {
    padding: 0 10rem;
  }
  .userBlock {
    right: 10rem;
  }
}

@media (max-width: 874px) {
  .main {
    padding: 0 5rem;
  }
  .userBlock {
    right: 5rem;
  }
}

@media (max-width: 680px) {
  .main {
    padding: 0 2.75rem;
  }
  .userBlock {
    right: 2.75rem;
  }
}

@media (max-width: 640px) {
  .courseTitle {
    width: 100%;
    text-align: center;
  }
  .course {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttonLearn {
    margin-left: 0;
  }
  .userBlock {
    right: 1rem;
    top: 1rem;
    left: 1rem;
  }
  .descCourse {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .descTitle {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .subtitle {
    width: 100%;
  }
}
