.container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("https://thumb.tildacdn.com/tild3262-3430-4364-b261-653135363663/-/format/webp/2019_ELENA_IS_chair_.jpg");
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  width: 360px;
  height: 309px;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #302a42;
  font-size: 18px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 700;
}

.buttonReset {
  width: 300px;
  height: 50px;
  color: #fff;
  border: 5px solid transparent;
  background-color: #302a42;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  font-family: "JournalSansNew", sans-serif;
  text-transform: capitalize;
}

.buttonReset:hover {
  background-color: #302a42;
}

.buttonLogin {
  width: 300px;
  height: 50px;
  color: #302a42;
  font-size: 14px;
  text-transform: capitalize;
}

.subtitle {
  font-size: 16px;
  padding: 0 30px;
  color: #302a42;
  text-align: center;
}

.emailInput {
  width: 300px;
  height: 55px;
  font-size: 16px;
  font-weight: 300;
  background-color: #f8f9fd;
}
