.container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("https://thumb.tildacdn.com/tild3262-3430-4364-b261-653135363663/-/format/webp/2019_ELENA_IS_chair_.jpg");
  min-height: 800px;
  height: 100vh;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "JournalSansNew", sans-serif;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.block {
  width: 360px;
  height: 309px;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 245px;
}

.title {
  color: #302a42;
  font-size: 18px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 700;
  margin-top: 18px;
  text-align: center;
}

.buttonReset {
  width: 300px;
  height: 50px;
  color: #fff;
  border: 5px solid transparent;
  background-color: #302a42;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 17px;
}

.buttonLogin {
  width: 300px;
  height: 21.7px;
  color: #302a42;
  font-size: 14px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background: transparent;
  margin-top: 15px;
}

.subtitle {
  padding: 0 30px;
  text-align: center;
  color: #302a42;
  font-size: 16px;
  font-family: "JournalSansNew", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 17px;
}

.emailInput {
  width: 300px;
  height: 40px;
  color: #302a42;
  border: 0px solid #302a42;
  background-color: #f8f9fd;
  font-size: 16px;
  font-weight: 300;
}

.emailInput::placeholder {
  padding: 0 20px;
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .block {
    width: 300px;
    height: 378px;
    top: 211px;
  }
  .buttonLogin {
    margin-top: 34px;
    width: 240px;
  }
  .buttonReset {
    width: 240px;
  }
  .emailInput {
    width: 240px;
  }
  .subtitle {
    width: 240px;
    padding: 0;
  }
  .title {
    margin-top: 24px;
    width: 240px;
  }
}

@media (max-width: 960px) {
  .block {
    top: 146px;
  }
}

@media (max-width: 640px) {
  .main {
    justify-content: center;
  }
  .block {
    width: 430px;
    height: 370px;
  }
  .buttonLogin {
    width: 340px;
  }
  .buttonReset {
    margin-top: 22px;
    width: 340px;
  }
  .emailInput {
    margin-top: 14px;
    width: 340px;
  }
  .subtitle {
    margin-top: 22px;
    width: 340px;
  }
  .title {
    width: 340px;
  }
}

@media (max-width: 480px) {
  .block {
    width: 300px;
    height: 384px;
  }
  .buttonLogin {
    margin-top: 34px;
    width: 240px;
  }
  .buttonReset {
    margin-top: 16px;
    width: 240px;
  }
  .emailInput {
    margin-top: 8px;
    width: 240px;
  }
  .subtitle {
    margin-top: 16px;
    width: 240px;
    padding: 0;
  }
  .title {
    margin-top: 28px;
    width: 240px;
  }
}